streamlit
langchain
langchain-core
langchain-community
langchain-huggingface
langchain-groq

sentence-transformers
transformers

torch
torchvision

faiss-cpu
rank-bm25
pypdf
python-dotenv
beautifulsoup4
markdown